.card-table {
    background-image: url('../feltTableBG.jpeg');
    background-position: center;
    border: 10px outset black;
    border-radius: 5% 5% 50% 50%;
    display: flex;
    flex-flow: row wrap;
    height: 80vh;
    margin: auto;
    width: 80%;
    .cards {
        width: 20%;
        height: auto;
        margin: 1%;
    }
}